.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 244, 244);
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgb(4, 92, 100);
  padding: 50px;
  margin: 2rem auto;
  padding-top: 1px;
  width:400px;
  gap:1rem;
}
.heading{
  color:blue;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
  padding-top: 10px;
}

.form{
  display:flex;
  flex-direction: column;
  border-radius: 8px;
  border-color: blue;
  width:100%;
  gap:5px;
  padding-bottom: 10px;
}
.form label {
  font-weight: 300;
  margin-bottom: 5px;
  width:100px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
}
.form div {
  display: flex;
  flex-direction: column;
}

.form input {
  flex:1;
  padding: 0.5rem 0.6rem;
  border: 1px solid blue;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-right: 10px;
}
.form button{
  background-color:  rgb(178, 206, 206);
  border-color: blue;
  border-radius: 5px;
  width: 7rem;
  height: 2.5rem;
  align-items: center;
  justify-items: center;
  margin: 20px auto;
 
  
}
.form button:hover {
  background-color: blue;
  color: white;
  border: white;
}