.formContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #fff;
  padding: 20px;
  margin: 2rem auto;
  width: 300px;
  border-radius: 8px;
  padding-top: 10px;
}