.footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
}

.authorLink {
  color: blue; /* link color */
  text-decoration: underline; /* always underlined */
  font-weight: bold;
  transition: color 0.3s;
}

.authorLink:hover {
  color: #e307d8;
}
