.footer {
  background-color: rgb(178, 206, 206);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 -4px 8px rgba(4, 92, 100);
  padding-top: 20px;
}
