.header {
    display:flex;
    background-color: rgb(178, 206, 206);
    color: rgb(29, 29, 31);
    padding:20px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(4, 92, 100);

}
.header h1 {
  font-size: 1.5rem;
}