.person {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(178, 206, 206);
    text-align: center;
    border-color: black;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(4, 92, 100);
    margin-top: 30px;
   
}

.name{
    color:blue;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.title{
    color: rgb(4, 52, 48);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.workExperience, .salary, .phone, .email, .animal, .startDate, .location, .department, .skills{
    margin-bottom: 15px;
}
.reminder{
    color:rgb(196, 65, 165);
    padding-top: 8px;
}