.person {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    min-width: 250px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(178, 206, 206);
    text-align: center;
    border-color: black;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(4, 92, 100);
    margin-top: 20px;
    
}

.name{
    color:blue;
    font-size: 20px;
    padding-bottom: 10px;
}
.title{
    color: rgb(4, 52, 48);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.salary, .phone, .email{
    margin-bottom: 15px;
}