*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root, .layout{ 
  height: 100vh; /* full viewport */
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1; /* take all space between header & footer */
  overflow-y: auto; /* scroll if content is taller than viewport */
  padding: 2rem;
}
.siteTitle{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}


