*{
  margin:0;
  padding:0;

}

#root {
  height:auto;
  width:100vw;
}
.siteTitle{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.container{
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    gap: 1rem; /* Aligns cards to top */
    padding:4rem;
    height:auto;
    
}


