*{
  margin:0;
  padding:0;

}

#root {
  height:100vh;
  width:100vw;
  background-color: rgb(241, 232, 218);
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15rem;
    gap:50px;
    height:45vh;
}